Попытка восстановления пароля, если это Ваша попытка, пройдите по ссылке ниже
= link_to "Изменить пароль", change_url(:recover => @user.recovery_hash)

Если это не Вы пробовали изменить пароль, просто проигнорируйте письмо

