Здравствуйте,
= @account.name
Вы проходите регистрацию на сайте soulup.net, для продолжения регистрации, активируйте свой email пройдя по следующей ссылке
= link_to activate_user_url(:code => @account.activation_code), activate_user_url(:code => @account.activation_code)
