%table.section{ :cellspacing => "0", :width => "100%", :cellpadding => "0" }
  %tbody
    %tr
      %td{ :width => "100%" }
        %span.styl11
%table.section{ :cellspacing => "0", :width => "100%", :cellpadding => "0" }
  %tbody
    %tr
      %td.tl
      %td.t
      %td.tr
    %tr
      %td.l
      %td{ :valign => "top" }
        %p.zagolov
          Изменение статтуса
        %p.text_6
          %img{ :src => "/img/friends.png", :height => "16", :width => "16" }
          Пользовалеть - любой зарегистрированый пользователь имеет право просмотра мероприятий и мастеров, а так же купить "Пакет партнера".При просмотре мероприятия в авторизированом режиме есть возможность нажать на кномпу "Я приду", этим подписатся на это мероприятия и дать владельцу этого события знать о вашем решение.Пользоветель имеет возможность изменять свой профиль, такие части профиля как Аватар, ФИО, пароль и т.д.И главное вы сможете добавить любое мероприятия если оно является безплатным! Современем будут активны и другие функции.
          %em
            %br
            %img{ :src => "/img/moder.gif", :height => "16", :width => "13" }
          Партнер - этот стутус дает возможность добавлять мероприятия любого типа, просмотр желаюших поситить имже созданое мероприятие, а так же изменять статус на мастера в любое время.Все права пользователя автоматически даются и партнеру.При получение этого статуса перед вашим ником появляется иконка партрена.
        %p.text_6
          %em
            %img{ :src => "/img/moder1.gif", :height => "16", :width => "13" }
          Мастер -включает в себя (пользователя и партнера) и появляется в базе мастеров.Любой посетитель сайта сможет просмотреть ваш профить на страничке "Мастера".
        %p.text_4
          \&nbsp;
        - if @current_user.role == 'user'
          %p.text_4
            \&nbsp;
          %p.text_4
            %img{ :src => "/img/paket.jpg", :height => "226", :width => "150" }
          %p.text_4
            %em
              %strong
                = link_to 'Купить', change_status_path(:status => 'partner')
        - else
          - if @current_user.role == 'master'
            = link_to 'Переключиться на партнера', change_status_path(:status => 'partner')
          - else
            = link_to 'Переключиться на мастера', change_status_path(:status => 'master')
      %td.r
    %tr
      %td.bl
      %td.b
      %td.br
