- form_for @current_user, :url => url_for, :html => { :method => :post } do |f|
  = f.error_messages :header_message => "Изменить пароль не удалось"
  - if @recover
    %input{ :type => :hidden, :value => @recover, :name => 'recover' }
  %dl
    %dt
      Пароль
    %dd
      = f.password_field :password
  %dl
    %dt
      Повторить пароль
    %dd
      = f.password_field :password_confirmation
  = f.submit "Изменить пароль"
