%table.section{ :cellspacing => "0", :width => "100%", :cellpadding => "0" }
  %tbody
    %tr
      %td{ :width => "100%" }
        %table{ :cellspacing => "0", :cellpadding => "0" }
          %tr
            %td{ :width => "2%" }
            %td
              %form#form_with_navigation{ :name => "form_with_navigation", :method => "post", :action => "/action/calendar" }
                %input{ :name => "action", :value => "yes", :type => "hidden" }
                %h1.zagolov
                  Календарь тренингов, семинаров, конференций   с
                  %input#from{ :name => "from", :value => @date_from.strftime("%d.%m.%Y"), :type => "text" }
                  по
                  %input#to{ :name => "to", :value => @date_till.strftime("%d.%m.%Y"), :type => "text" }
                  %input#sub{ :value => "\320\275\320\260\320\271\321\202\320\270", :type => "submit" }

%table.section{ :cellspacing => "0", :width => "100%", :cellpadding => "0" }
  %tbody
    %tr
      %td.tl
      %td.t
      %td.tr
    %tr
      %td.l
      %td
        - @items.each do |item|
          %table{ :border => "0", :width => "100%", :class => 'item' }
            %tr
              %td{ :valign => "top" }
                %p.text_6
                  \&nbsp;
                %table{ :cellspacing => "0", :border => "0", :align => "left", :width => "100%", :cellpadding => "0" }
                  %tr
                    %td{ :align => "right", :valign => "top" }
                      %img{ :src => item.image.url(:list), :alt => "" }
                    %td
                      %table{ :cellspacing => "0", :border => "0", :align => "right", :cellpadding => "0" }
                        %tr
                          %td{ :width => "10" }
                            %p.text_9
                              \&nbsp;
                          %td{ :align => "right" }
                            %span.text_9
                              Название:&nbsp;
                          %td
                            %a.head9{ :href => url_for(item)}
                              = item.title
                        %tr
                          %td
                            %p.text_9
                              \&nbsp;
                          %td{ :align => "right", :valign => "bottom" }
                            %span.text_9
                              Тип:&nbsp;
                          %td.text_10
                            [тренинг]
                        %tr
                          %td
                            %p.text_9
                          %td{ :align => "right" }
                          %td.text_10
                        %tr
                          %td
                            %p.text_9
                              \&nbsp;
                          %td{ :align => "right" }
                            %span.text_9
                              Дата:&nbsp;
                          %td.red2
                            23 — 24 февраля 2010
                        %tr
                          %td
                            %p.text_9
                              \&nbsp;
                          %td{ :align => "right" }
                            %span.text_9
                              Где:&nbsp;
                          %td.text_3
                            Киев
                        %tr
                          %td
                            %p.text_9
                              \&nbsp;
                          %td{ :align => "right" }
                            %span.text_9
                              Стоимость:&nbsp;
                          %td.red
                            = display_cost_for item
                        %tr
                          %td.text_9
                          %td{ :align => "right" }
                          %td.red
                        %tr
                          %td
                            %p
                              \&nbsp;
                          %td{ :align => "left" }
                          %td
                            %form#form2{ :name => "form1", :method => "post", :action => "" }
                              %input#button2{ :name => "button2", :type => "submit", :value => "\320\236\321\202\320\277\321\200\320\260\320\262\320\270\321\202\321\214 &quot;\320\257 \320\277\321\200\320\270\320\264\321\203&quot;" }
                  %tr
                    %td{ :height => "15", :align => "center", :valign => "middle", :colspan => "2" }
                      %hr.hr_grey
                %p.text_6
                  \&nbsp;
        = pagination_for @items
        %td.r
      %tr
        %td.bl
        %td.b
        %td.br
