%table.section{ :cellspacing => "0", :width => "100%", :cellpadding => "0" }
  %tbody
    %tr
      %td{ :width => "100%" }
        %span.styl11

- @news.each do |item|
  %table.section{ :cellspacing => "0", :width => "100%", :cellpadding => "0" }
    %tbody
      %tr
        %td.tl
        %td.t
        %td.tr
      %tr
        %td.l
        %td
          %table{ :border => "0", :width => "100%" }
            %tr
              %td{ :rowspan => "3", :valign => "top", :width => "200" }
                %span.text_3
                  %img{ :src => item.image.url(:list), :width => 330, :height => 190 }
              %td.zagolov{ :colspan => "2" }
                =h item.title
            %tr
              %td.text_3{ :colspan => "2" }
                =h truncate strip_tags(item.content), :length => 200
                %hr.hr_grey
            %tr
              %td{ :align => "left", :valign => "bottom", :height => 10 }
                %p
                  %a.text_4{ :href => "#" }
                    = link_to "Читать дальше", item
              %td.data{ :width => "74" }
                =display_date item.date
        %td.r
      %tr
        %td.bl
        %td.b
        %td.br
= will_paginate @news
