%table.section{ :cellspacing => "0", :width => "100%", :cellpadding => "0" }
  %tbody
  %tr
    %td.tl
    %td.t
    %td.tr
  %tr
    %td.l
    %td
      = content
    %td.r
  %tr
    %td.bl
    %td.b
    %td.br


