#pager.text_66
  - if previous_page
    - link_to url_for_page(1), :title => "В начало" do
      &lt;&lt;
    - link_to url_for_page(previous_page), :title => "Назад" do
      &lt;

  - first_page.upto(last_page) do |i|
    - if i == current_page
      = i
    - else
      = link_to i, url_for_page(i)


  - if next_page
    - link_to url_for_page(next_page), :title => "Вперед" do
      &gt;
    - link_to url_for_page(last_page), :title => "В конец" do
      &gt;&gt;
