:javascript
  $(function(){
    $('.tip').tooltip({
    track: true, 
    delay: 0, 
    showURL: false, 
    showBody: " - ", 
    extraClass: "pretty", 
    fixPNG: true, 
    opacity: 0.95, 
    left: -120 
    });
  });
