Эта страница недоступна для пользователей не прошедших активацию, пожалуйста активируйте аккаунт.
%br
Письмо с ссылкой для активации должно было прийти Вам, если письмо затерялось, 
= link_to 'нажмите здесь для получения письма еще раз', send_activation_mail_path(@auth_user)
