#materials_menu
  = link_to_unless_current "Все материалы", materials_path
  %br
  = link_to_unless_current "Видео", video_materials_path
  %br
  = link_to_unless_current "Книги", book_materials_path
